footer {
    background-color: #e1ecd6;
}

.titulo_contato_main {
    font-size: 5em;
    font-family: "Rubik", sans-serif;
    margin-bottom: 2em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em -1em -1em -1em;
    padding: 10em 5em;
    /*background: linear-gradient(0deg, #e1ecd6, #aee1d3);
    background: linear-gradient(0deg, #5dc4f3, #2158ec);*/
    background-color: #5dc4f3;
    background: linear-gradient(0deg, #c1e0f0, #5dc4f3);
    margin-top: -1px;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#contato li {
    margin: 1em;
    list-style-type: none;
    display: flex;
    align-items: center;
}

#contato li a {
    font-family: "Rubik", sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

#contato li img {
    width: 4em;
}

.creditos {
    display: flex;
    margin-right: auto;
    margin-top:  5em;
    margin-bottom: -6em;
    font-family: "Play", sans-serif;
    font-size: 1.5em;
}

#contato li a:hover {
    transition: opacity 0.3s ease;
    color: rgb(204, 202, 202);
}

@media screen and (max-width: 1100px) {

    .titulo_contato_main {
        font-size: 2em;
        text-align: center;
    }

}