.cabecario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid rgb(83, 83, 83);
    padding-left: 5em;
}

.secao_links_header {
    margin-right: 12em;
}

.link_header {
    margin-left: 1em;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-weight: 500;

}

.titulo_header {
    font-family: "Play", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: .5em;
}

.titulo_header a {
    text-decoration: none;
    color: #fff;
}

.link_header:hover {
    transition: opacity 0.3s ease;
    color: rgb(143, 143, 143);
}

.botao_menu {
    display: none;
}

@media screen and (max-width: 1100px) {
    
    .cabecario {
        padding: 1em 0;
        justify-content: space-around;
    }

    .secao_links_header {
        display: none;
        margin: 0em;
    }

    .botao_menu {
        display: block;
    }

}